---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "~/components/Jumbotron.astro";
import BlogList from "~/components/BlogList.astro";
---

<Layout title="Developer Community Portal | Belajar Pemrograman">
  <div class="pt-5">
    <Jumbotron />
  </div>
  <BlogList />
  <div class="pt-5 mt-5 mb-5 pb-5  block  ">
    <a
      href="/blog"
      class="underline"
      title="Read more Blog posts"
      >
        &raquo; Read more blog posts
    </a>
  </div>
</Layout>
