---
interface Props {
    title: string;
    href: string;
}
const { title, href } = Astro.props;
---

<a href={href} title={title} class="text-black inline-block px-3 py-[0.2rem] md:py-1 rounded-sm bg-yellow-100 hover:bg-yellow-400 text-xs">
    <slot />
</a>
